<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title> {% block title %} - Fentis - {% endblock %} </title>
  </head>
  <body>
      base fentis
    {{include("OCFentisBundle::menu.html.twig") }}

    {% block one %}
    {% endblock %}
    
    </div>
  </body>
</html>
