<!DOCTYPE html>
<html>
  <head>
    <title> {% block title %} - Fentis - {% endblock %} </title>
  </head>
  <body>
    <div id="menu">
      <ul>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/character-profile">character-profile</a></li>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/globals">globals</a></li>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/skills">skills</a></li>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/lifeinfo">life_info</a></li>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/equip">equip</a></li>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/chat">chat</a></li>
      </ul>
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
