
    <div id="menu">
      <ul>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/chat">chat</a></li>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/modif">modif</a></li>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/voir">voir</a></li>
        <hr>
        {#Affichage du menu si l'user est authentifié#}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/ajout">ajout</a></li>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/login">login</a></li>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/logout">logout</a></li>
        <li><a href="http://localhost:8888/Fentis/web/app_dev.php/profile">profile</a></li>
        {% endif %}
        </ul>
        